<div class="d-flex">
     <div>
      <app-profil-navigation></app-profil-navigation>
    </div> 
    <div class="w-100 p-4">
        <h4 class="card-header">Izmena studijskog programa</h4>
        <br>
        <br>
        <form (ngSubmit)="submit()">
            <b>ID: </b><input name="id" type="number" [(ngModel)]="course.id"><br><br>
            <b>Ime: </b><input name="ime" type="text" [(ngModel)]="course.name"><br><br>
            <b>Opis: </b><input name="prezime" type="text" [(ngModel)]="course.description"><br><br>
            <b>Rukovodilac smera: </b><input name="prezime" type="text" [(ngModel)]="course.leaderdata"><br><br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-secondary" [routerLink]="['/courses']">Nazad</button>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
              </div>
        </form>
    </div>
  </div>


