<div class="d-flex w-100 justify-content-center flex-wrap">
    <h4 class="w-100 text-center">RASPORED ISPITNIH ROKOVA</h4>
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="4">Raspored ispitnih rokova</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td id="tr1">JANUAR</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
          <td>FEBRUAR</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
          <td>APRIL</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
          <td>JUN</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
            <td>JUL</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>SEPTEMBAR I</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>SEPTEMBAR II</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
      </tbody>
    </table>
  </div>
