<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <div class="p-4">
      <h3 class="card-header w-25">Prikaz svih predmeta</h3><br>
      <table>
          <th>Predmet:</th>
          <th>Godina:</th>
          <tr *ngFor="let sub of subjects">
              <td>{{sub.name}}</td>
              <td> {{sub.studyyear.year}}</td>
          </tr>
      </table>
    </div>
    <br>
    <h4 class="card-header w-50 p-4">Dodavanje novog predmeta</h4>
    <div class="w-50 p-4">
      <form (ngSubmit)="submit()">
        <div class="form-group">
            <label for="validationDefault01">Ime predmeta</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="name"  name="name" [(ngModel)]="subject.name" required>
          </div>
          <div class="form-group">
            <label for="validationDefault02">ESPB</label>
            <input type="number" class="form-control" id="validationDefault02" placeholder="espb"  name="espb" [(ngModel)]="subject.espb" required>
          </div>
    <div class="form-group">
        <label for="validationDefault03">Broj predavanja</label>
        <input type="number" class="form-control" id="validationDefault03" placeholder="broj predavanja"  name="numberoflectures" [(ngModel)]="subject.numberoflectures" required>
      </div>
      <div class="form-group">
        <label for="validationDefault9">Broj vežbi</label>
        <input type="number" class="form-control" id="validationDefault09" placeholder="broj vezbi" name="numberofpractices" [(ngModel)]="subject.numberofpractices" required>   
      </div>
      <p>Smer i godina</p>
      <select name="s1" class="form-control mb-3" [(ngModel)]="subject.studyyear.id">
        <option [value]="null">Odaberite studentsku godinu i smer</option>
        <option *ngFor="let s of studyyears" [value]="s.id">Smer: {{s.major.name}} Godina: {{s.year}}</option>
      </select>
      <br>
      <div class="d-flex justify-content-end mr-4">
        <button type="submit" class="btn btn-primary">Dodaj predmet</button>
      </div>
    <hr>
  </form>
    </div>
  </div>
</div>


