/* .row{
    margin-left: 10px;
}
#header{
    color: #007bff;
}
.card-header{
    color: #007bff;
}
.card{
    margin-top: -370px;
    margin-left: 280px;
}
a{
    margin-top: -40px;
    margin-left: 530px;
} */
