        <div class="d-flex w-100 p-4">
          <div class="w-50 p-4">
            <h4 class="card-header">{{faculty.name}}</h4>
            <ul class="list-group">
                <li class="text-dark bg-light list-group-item">Ime: {{faculty.name}}</li>
                <li class="text-dark bg-light list-group-item">Podaci o dekanu<br>
                  Email: {{faculty.deandata.email}}<br>
                  Ime: {{faculty.deandata.name}}<br>
                  Prezime: {{faculty.deandata.lastname}}<br>
                  Biografija: {{faculty.deandata.biography}}<br>
                </li>
                <li class="text-dark bg-light list-group-item">Telefon: {{faculty.university.phone}}</li>
                <li class="text-dark bg-light list-group-item">E-mail: {{faculty.university.email}}</li>
                <li class="text-dark bg-light list-group-item">Lokacija: {{faculty.address.street}} {{faculty.address.number}}</li>
            </ul>
            <br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button  class="btn btn-secondary" [routerLink]="['/faculties']">Nazad</button>
              <button *ngIf="role=='ROLE_ADMIN'" class="btn btn-danger" (click)="delete()">Obrisi</button>
            </div>
            </div>
        </div>
