<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <h4>Nastavnici</h4>
      <table class="table table-responsive">
          <thead>
              <tr>
                  <td><b>ID</b></td>
                  <th id="tr1" scope="col">Ime</th>
                  <th id="tr1" scope="col">Prezime</th>
                  <td><b>Pregled</b></td>
              </tr>
          </thead>
          <tr *ngFor="let t of teachers">
              <td><a [routerLink]="['/teachers', t.id]">{{t.id}}</a></td>
                <td>{{t.name}}</td>
                <td>{{t.lastname}}</td>
                <td><a [routerLink]="['/teachers', t.id]">Pogledaj</a></td>
          </tr>
      </table>
    </div>
  </div>
    