<app-profil-navigation></app-profil-navigation>
<table id="t1" class="table table-bordered w-50">
    <thead class="thead-light">
        <tr>
            <th colspan="8">Trenutni spisak predmeta iz tekuće godine</th>
        </tr>
      <tr>
        <th id="tr1" scope="col">Akronim</th>
        <th id="tr1" scope="col">Naziv</th>
        <th id="tr1" scope="col">N.gr.</th>
        <th id="tr1" scope="col">Semestar</th>
        <th id="tr1" scope="col">Tip prijave</th>
        <th id="tr1" scope="col">Praćenje</th>
        <th id="tr1" scope="col">ESPB</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Jacob</td>
        <td>Jacob</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Jacob</td>
        <td>Jacob</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Jacob</td>
        <td>Jacob</td>
      </tr>
    </tbody>
  </table>
