<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap bg">
    <div class="w-75 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
      <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Dodavanje administrativnog osoblja</h2>
      <br>
      <form (ngSubmit)="submit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="validationDefault01">Ime</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Ime"  name="name" [(ngModel)]="administrativeStaff.name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="validationDefault02">Prezime</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Prezime"  name="email" [(ngModel)]="administrativeStaff.lastname" required>
              </div>
          </div>
        <div class="form-group">
            <label for="validationDefault03">JMBG</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="JMBG"  name="jmbg" [(ngModel)]="administrativeStaff.jmbg" required>
          </div>
          <div class="form-group">
            <label for="validationDefault9">Email</label>
            <input type="email" class="form-control" id="validationDefault09" placeholder="Email" name="email" [(ngModel)]="administrativeStaff.email" required>   
          </div>
          <div class="form-group">
            <label for="validationDefault10">Password</label>
            <input type="password" class="form-control" id="validationDefault10" placeholder="Password" name="password" [(ngModel)]="administrativeStaff.password" required>   
          </div>
          <select name="s1" class="form-control mb-3" [(ngModel)]="administrativeStaff.university.id">
            <option [value]="null">Odaberite univerzitet</option>
            <option *ngFor="let u of universities" [value]="u.id">{{u.name}}</option>
        </select>
          <br>
          <div class="d-flex justify-content-end mr-4">
            <button type="submit" class="btn btn-primary">Dodaj administrativno osoblje</button>
          </div>
        <hr>
      </form>
    </div>
  </div>
    </div>
  </div>