<div class="d-flex">
    <div>
     <app-subject-navigation></app-subject-navigation>
    </div>
    <div class="w-100 p-4">
      <div class="d-flex w-100 justify-content-left ml-3 flex-wrap">
    <h4 class="w-100 text-left ml-3">REZULTATI ISPITA I KOLOKVIJUMA</h4>
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="4">Rezultati ispita</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td id="tr1">JANUAR</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
            <td>FEBRUAR</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>APRIL</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>JUN</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
              <td>JUL</td>
              <td  class="text-center"><a href="#">Preuzmi</a></td>
            </tr>
            <tr>
              <td>SEPTEMBAR I</td>
              <td  class="text-center"><a href="#">Preuzmi</a></td>
            </tr>
            <tr>
              <td>SEPTEMBAR II</td>
              <td  class="text-center"><a href="#">Preuzmi</a></td>
            </tr>
      </tbody>
    </table>
    <div class="w-100"></div>
    <table id="t1" class="table table-bordered w-50">
        <thead class="thead-light">
            <tr>
                <th colspan="4">Rezultati kolokvijuma</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td id="tr1">JANUAR</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>FEBRUAR</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>APRIL</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
            <td>JUN</td>
            <td  class="text-center"><a href="#">Preuzmi</a></td>
          </tr>
          <tr>
              <td>JUL</td>
              <td  class="text-center"><a href="#">Preuzmi</a></td>
            </tr>
            <tr>
              <td>SEPTEMBAR I</td>
              <td  class="text-center"><a href="#">Preuzmi</a></td>
            </tr>
            <tr>
              <td>SEPTEMBAR II</td>
              <td  class="text-center"><a href="#">Preuzmi</a></td>
            </tr>
        </tbody>
      </table>
  </div>
    </div>
  </div>


