<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <h4>Administrativno osoblje</h4>
      <br>
      <table class="table table-responsive">
          <thead>
              <tr>
                  <td><b>ID</b></td>
                  <th id="tr1" scope="col">Ime</th>
                  <th id="tr1" scope="col">Prezime</th>
                  <td><b>Pregled</b></td>
              </tr>
          </thead>
          <tr *ngFor="let a of administrativeStaffs">
              <td><a [routerLink]="['/administrativestaffs', a.id]">{{a.id}}</a></td>
              <td>{{a.name}}</td>
              <td>{{a.lastname}}</td>
                <td><a [routerLink]="['/administrativestaffs', a.id]">Pogledaj</a></td>
          </tr>
      </table>
      <br>
    </div>
  </div>
    