<div class="d-flex w-100 justify-content-left p-3">
  <ul class="list-group">
    <li class="list-group-item active">
      Prečice
    </li>
    <li class="list-group-item text-center" *ngFor="let item of majors" (click)="getMajor(item.id)">
      {{item.name}}
    </li>
  </ul>

  <table class="table ml-2 border">
    <thead>
      <tr>
        <th scope="col">Predmet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of subjects">
        <td>{{item.name}}
          <ul>
            <li *ngFor="let s of item.schedules">
              {{s.daytitle.name}} {{s.start}}h-{{s.end}}h
          
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>