<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
      <div class="w-50 p-2 bg-white-50 rounded border shadow mt-3 ml-5"> 
        <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Dodavanje nastavnika</h2>
        <br>
        <form (ngSubmit)="submit()">
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="validationDefault01">Ime</label>
                  <input type="text" class="form-control" id="validationDefault01" placeholder="Ime" name="name" [(ngModel)]="teacher.name" required>  
                </div>
                <div class="form-group col-md-6">
                  <label for="validationDefault02">Prezime</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="Prezime" name="lastName" [(ngModel)]="teacher.lastname" required>
                </div>
            </div>
          <div class="form-group">
              <label for="validationDefault03">JMBG</label>
              <input type="number" class="form-control" id="validationDefault03" placeholder="JMBG" name="jmbg" [(ngModel)]="teacher.jmbg" required>
            </div>
            <div class="form-group">
              <label for="validationDefault9">Email</label>
              <input type="email" class="form-control" id="validationDefault09" placeholder="Email" name="email" [(ngModel)]="teacher.email" required>   
            </div>
            <div class="form-group">
              <label for="validationDefault10">Password</label>
              <input type="password" class="form-control" id="validationDefault10" placeholder="Password" name="password" [(ngModel)]="teacher.password" required>   
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Biografija</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Type..." name="biography" [(ngModel)]="teacher.biography"></textarea>
            </div>
            <select name="s11" class="form-control mb-3" [(ngModel)]="teacher.university.id">
              <option [value]="null">Odaberite univerzitet</option>
              <option *ngFor="let u of universities" [value]="u.id">{{u.name}}</option>
          </select>
            <br>
            <div class="d-flex justify-content-end mr-4">
              <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
          <hr>
        </form>
      </div>
  </div>