<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="8">Predmeti</th>
          </tr>
        <tr>
          <th id="tr1" scope="col">Akronim</th>
          <th id="tr1" scope="col">Naziv</th>
          <th id="tr1" scope="col">N.gr.</th>
          <th id="tr1" scope="col">Tip nastave</th>
          <th id="tr1" scope="col">Školska godina</th>
          <th id="tr1" scope="col">Tip prijave</th>
          <th id="tr1" scope="col">Semestar</th>
          <th id="tr1" scope="col">Sajt predmeta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
