<div class="d-flex justify-content-end align-items-center flex-wrap bg">
<div class="card mb-3 mt-3" style="max-width: 540px; margin-right: 60px;">
   <h4 class="text-right mt-4 ml-3 img card-header">INFORMACIJE</h4>
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"><b>Ime:</b> {{university.rector.name}}</p>
          <p class="card-text"><b>Prezime:</b> {{university.rector.lastname}}</p>
          <p class="card-text"><b>Email:</b> {{university.rector.email}}</p>
          <p class="card-text"><b>Biografija:</b> {{university.rector.biography}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
