.bg {
    height: 90vh;
    min-height: 500px;
    background-image:  linear-gradient(360deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%), url("https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.9);
}
.img{
    background-image:  url("https://mpng.subpng.com/20181110/srt/kisspng-computer-icons-login-scalable-vector-graphics-emai-5be7376911c6b4.4735764415418796570728.jpg");
    background-size: 90px;
    background-position: top left;
    margin-top: 80px;
    margin-right: 40px;
    background-repeat: no-repeat;
}