<div class="d-flex w-100 justify-content-center flex-wrap">
    <h4 class="w-100 text-center">RASPORED KOLOKVIJUMA</h4>
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="4">Raspored kolokvijuma</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td id="tr1">SII</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
          <td>IT</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
          <td>PE</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
        <tr>
          <td>THIEH</td>
          <td  class="text-center"><a href="#">Preuzmi</a></td>
        </tr>
      </tbody>
    </table>
  </div>

