<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
        <h4 class="card-header">Izmena nastavnika</h4>
        <br>
        <form (ngSubmit)="submit()">
            <b>Ime: </b><input name="ime" type="text" [(ngModel)]="teacher.name"><br><br>
            <b>Prezime: </b><input name="prezime" type="text" [(ngModel)]="teacher.lastname"><br><br>
            <b>Biografija: </b><input name="datumRodjenja" type="longtext" [(ngModel)]="teacher.biography"><br><br>
            <b>JMBG: </b><input name="trenutnoPrebivaliste" type="text" [(ngModel)]="teacher.jmbg"><br><br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-secondary" [routerLink]="['/teachers']">Nazad</button>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
              </div>
        </form>
    </div>
  </div>
