<div class="bg">
  <div class="ml-4" style="width: 30rem;">
    <div class="card-body">
      <h4 class="card-header">Podaci o univerzitetu</h4>
          <table class="table table-active">
              <tr *ngFor="let u of universities" class="bg-light text-dark">
                    <td>{{u.name}}</td>
                    <td><a [routerLink]="['/universities', u.id]">Detalji</a></td>
              </tr>
          </table>
    </div>
  </div>
<div style="width: 30rem;">
      <app-notifications-university></app-notifications-university>
</div>
</div>
