/* .bg {
    height: 90vh;
    min-height: 500px;
    background-image:  linear-gradient(360deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0) 100%), url("https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.9);
} */