<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="14">Položeni ispiti</th>
          </tr>
        <tr>
          <th id="tr1" scope="col">R.br.</th>
          <th id="tr1" scope="col">Naziv</th>
          <th id="tr1" scope="col">Broj polaganja</th>
          <th id="tr1" scope="col">Konačni bodovi</th>
          <th id="tr1" scope="col">Ocena</th>
          <th id="tr1" scope="col">ESPB</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="role=='ROLE_TEACHER'" id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="5">Neuspešna polaganja (nastavnici mogu da vide)</th>
          </tr>
        <tr>
          <th id="tr1" scope="col">Predmet</th>
          <th id="tr1" scope="col">Ocena</th>
          <th id="tr1" scope="col">Broj bodova</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="role=='ROLE_TEACHER'" id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="5">Položeni ispiti (nastavnici mogu da vide)</th>
          </tr>
        <tr>
          <th id="tr1" scope="col">Predmet</th>
          <th id="tr1" scope="col">Ocena</th>
          <th id="tr1" scope="col">Broj bodova</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
