<div class="d-flex w-100 p-4">
  <div class="d-flex">
    <div class="w-100 p-4">
        <h4 class="card-header">Odaberite fakultet</h4>
        <table class="table table-responsive  table-active">
            <thead>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Naziv</b></td>
                    <td><b>Pregled</b></td>
                </tr>
            </thead>
            <tr *ngFor="let f of faculties" class="bg-light text-dark">
                <td><a [routerLink]="['/faculties', f.id]">{{f.id}}</a></td>
                  <td>{{f.name}}</td>
                  <td><a [routerLink]="['/faculties', f.id]">Pogledaj</a></td>
            </tr>
        </table>
        <br>
    </div>
  </div>
</div>