<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
        <div class="d-flex justify-content-center align-items-center flex-wrap bg">
            <div class="w-25 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
                <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Prijava za prijemni ispit</h2>
                <form (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Izaberite datum i vreme:</label>
                        <input type="datetime-local" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="dt"  [(ngModel)]="entranceExam.requireddatetime">
                    </div>
                    <select name="s1" class="form-control mb-3" [(ngModel)]="selectedUniversity" (ngModelChange)="onUniversityChange()">
                        <option [value]="null">Odaberite univerzitet</option>
                        <option *ngFor="let u of universities" [value]="u.id">{{u.name}}</option>
                    </select>
                    <select name="s2" class="form-control" [(ngModel)]="selectedFaculty" (ngModelChange)="onFacultyChange()">
                        <option [value]="null">Odaberite fakultet</option>
                        <option *ngFor="let f of faculties" [value]="f.id">{{f.name}}</option>
                    </select><br>
                    <select name="s3" class="form-control mb-3" [(ngModel)]="entranceExam.major.id">
                        <option [value]="null">Odaberite smer</option>
                        <option *ngFor="let m of faculty.majors" [value]="m.id">{{m.name}}</option>
                    </select>
                    <!-- <div class="form-group">
                        <label for="validationDefault10">Student</label>
                        <input type="text" class="form-control" id="validationDefault10" placeholder="id" name="id" [(ngModel)]="entranceExam.student.id" required>   
                    </div>
                    <div class="form-group">
                        <label for="validationDefault10">Major</label>
                        <input type="text" class="form-control" id="validationDefault10" placeholder="id" name="id" [(ngModel)]="entranceExam.major.id" required>   
                    </div> -->
                    <button type="submit" class="btn btn-primary">Prijavi se</button><br>
                </form>
            </div>
        </div>
    </div>
  </div>