<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <div class="d-flex justify-content-center align-items-center flex-wrap bg">
      <div class="w-75 p-2 bg-white-50 rounded border shadow mt-3 mr-5"> 
        <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Upis postojeceg studenta</h2>
        <br>
        <form (ngSubmit)="submit()">
            <div class="form-group">
              <label for="validationDefault9">Email</label>
              <input type="email" class="form-control" id="validationDefault09" placeholder="Email" name="email" [(ngModel)]="teacher.email" required>   
            </div>
            <select name="s1" class="form-control" [(ngModel)]="selectedFaculty" (ngModelChange)="onFacultyChange()">
              <option>Odaberite fakultet</option>
              <option *ngFor="let u of university.faculties" [value]="u.id">{{u.name}}</option>
            </select><br>
            <select name="s2" class="form-control"  [(ngModel)]="selectedMajor" (ngModelChange)="onMajorChange()">
              <option>Odaberite smer</option>
              <option *ngFor="let f of faculty.majors"  [value]="f.id">{{f.name}}</option>
            </select>
            <br>
            <div class="d-flex justify-content-end mr-4">
              <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
          <hr>
        </form>
      </div>
    </div>
  </div>
</div>


