<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <h4 class="card-header">Nastavnik: {{teacher.name}}</h4>
        <ul class="list-group">
            <li class="list-group-item ">Id: {{teacher.id}}</li>
            <li class="list-group-item ">Ime: {{teacher.name}}</li>
            <li class="list-group-item ">Prezime: {{teacher.lastname}}</li>
            <li class="list-group-item ">Biografija: {{teacher.biography}}</li>
            <li class="list-group-item ">Jmbg: {{teacher.jmbg}}</li>
        </ul>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-secondary" [routerLink]="['/teachers']">Nazad</button>
          <button  class="btn btn-secondary" [routerLink]="['/teachers', 'update', teacher.id]">Izmeni</button>
          <button class="btn btn-danger" (click)="delete()">Obrisi</button>
        </div>
    </div>
  </div>
