<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
        <h4 class="card-header">Izmena studenta</h4>
        <br>
        <br>
        <form (ngSubmit)="submit()">
            <b>Ime: </b><input name="ime" type="text" [(ngModel)]="student.name"><br><br>
            <b>Prezime: </b><input name="prezime" type="text" [(ngModel)]="student.lastname"><br><br>
            <b>Datum rodjenja: </b><input name="datumRodjenja" type="text" [(ngModel)]="student.birthdate"><br><br>
            <b>Jmbg: </b><input name="jmbg" type="text" [(ngModel)]="student.jmbg"><br><br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-secondary" [routerLink]="['/students']">Nazad</button>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
              </div>
        </form>
    </div>
  </div>
