<div class="d-flex justify-content-end align-items-center flex-wrap bg">
  <div class="w-25 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
    <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Prijava na sistem</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail adresa</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Lozinka</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="user.password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Ostavi me prijavljenog</label>
      </div>
      <button type="submit" class="btn btn-primary">Prijava</button>
      <hr>
      <a href="/">Početna strana</a> 
      <a class="ml-2" href="/registracija">Registruj se</a>
    </form>
  </div>
</div>