<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="8">Ispiti koje mogu da prijavim</th>
          </tr>
        <tr>
          <th id="tr1" scope="col">Prijava</th>
          <th id="tr1" scope="col">Akronim</th>
          <th id="tr1" scope="col">Naziv</th>
          <th id="tr1" scope="col">N.gr.</th>
          <th id="tr1" scope="col">ESPB</th>
          <th id="tr1" scope="col">Tip prijave</th>
          <th id="tr1" scope="col">Broj prijava</th>
          <th id="tr1" scope="col">Nastavnik</th>
        </tr>
      </thead>
      <tbody>
        <tr  class="w-10">
          <td><a href="#" class="btn btn-light">Prijavi</a></td>
          <td>Otto</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
        <tr class="col-sm-1">
          <td><a href="#" class="btn btn-light">Prijavi</a></td>
          <td>Thornton</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Otto</td>
        </tr>
        <tr class="w-10">
          <td><a href="#" class="btn btn-light">Prijavi</a></td>
          <td>Otto</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
      </tbody>
    </table>
    <table id="t2" class="table table-bordered  w-50">
      <thead class="thead-light">
          <tr>
              <th colspan="6">Prijavljeni ispiti</th>
          </tr>
        <tr>
          <th id="tr1" scope="col">Rok</th>
          <th id="tr1" scope="col">Akronim</th>
          <th id="tr1" scope="col">Naziv</th>
          <th id="tr1" scope="col">N.gr.</th>
          <th id="tr1" scope="col">Nastavnik</th>
          <th id="tr1" scope="col">Datum prijave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>
