<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
        <h4>ZAVRŠNI RAD</h4>
        <br>
        <button class="btn btn-primary">Preuzmi</button>
    </div>
  </div>