<div class="d-flex justify-content-end align-items-center flex-wrap bg">
    <div class="w-25 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
        <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Registracija</h2>
        <form (ngSubmit)="submit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Ime</label>
                <input type="email" class="form-control" name="name" [(ngModel)]="student.name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Prezime</label>
                <input type="email" class="form-control" name="lastname" [(ngModel)]="student.lastname">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Jmbg</label>
                <input type="text" class="form-control" name="jmbg" [(ngModel)]="student.jmbg">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Datum rođenja</label>
                <input type="date" class="form-control" name="birthdate" [(ngModel)]="student.birthdate">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="student.email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="student.password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Slažem se sa svim uslovima korištenja...</label>
            </div>
            <button type="submit" class="btn btn-primary">Registruj se</button><br>
            <hr>
            <a href="/">Početna strana</a>
            <a class="ml-2" href="/prijava">Prijavi se</a>
        </form>
    </div>

    <div class="w-100 mt-auto">
        <span class="text-white ml-2">Photo by: Buro Millennial</span>
    </div>
</div>