<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
        <div class="w-100 p-4">
            <div class="d-flex justify-content-center align-items-center flex-wrap bg">
                <div class="w-75 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
                  <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Dodavanje obaveštenja</h2>
                  <form (ngSubmit)="submit()">
                    <select name="s1" class="form-control mb-3" [(ngModel)]="universityNotification.university.id">
                      <option [value]="null">Odaberite univerzitet</option>
                      <option *ngFor="let u of universities" [value]="u.id">{{u.name}}</option>
                  </select>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Izaberite datum i vreme:</label>
                    <input type="datetime-local" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="dt"  [(ngModel)]="universityNotification.created">
                  </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Naslov</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Naslov" name="naslov" [(ngModel)]="universityNotification.title">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Obaveštenje</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Type..."  name="poruka" [(ngModel)]="universityNotification.message"></textarea>
                    </div>
                    <div class="d-flex justify-content-end mr-4">
                      <button type="submit" class="btn btn-primary">Dodaj obaveštenje</button>
                    </div>
                    <hr>
                  </form>
                </div>
              </div>
          </div>
    </div>
  </div>