<div class="d-flex w-100 p-4">
    <div class="d-flex">
      <div class="w-100 p-4">
          <h4 class="card-header">Obaveštenja univerziteta</h4>
          <table class="table table-responsive  table-active">
              <thead>
                  <tr>
                      <td><b>Datum</b></td>
                      <td><b>Naslov</b></td>
                      <td><b>Obaveštenje</b></td>
                      <td><b>Pregled</b></td>
                  </tr>
              </thead>
              <tr *ngFor="let u of university.notifications" class="bg-light text-dark">
                  <td>{{u.created}}</td>
                  <td>{{u.title}}</td>
                  <td>{{u.message}}</td>
                  <td><a [routerLink]="['/obavestenjau', u.id]">Pogledaj</a></td>
              </tr>
          </table>
          <br>
      </div>
    </div>
  </div>
