<table>
      <th>Predmet</th>
      <th>Dan</th> 
      <th>Pocetak</th>
      <tr *ngFor="let s of schedules">
        <td>{{s.subject.name}}</td>
        <td>{{s.daytitle.name}}</td>
        <td>{{s.start}}</td>
    </tr>
  </table>
  <h4 class="card-header w-50 p-4">Dodavanje nove satnice</h4>
  <div class="w-50 p-4">
    <form (ngSubmit)="submit()">
      <div class="form-group">
          <label for="validationDefault01">pocetak</label>
          <input type="time" class="form-control" id="validationDefault01" placeholder="start"  name="start" [(ngModel)]="schedule.start" required>
        </div>
        <div class="form-group">
          <label for="validationDefault02">kraj</label>
          <input type="time" class="form-control" id="validationDefault02" placeholder="end"  name="end" [(ngModel)]="schedule.end" required>
        </div>
    <p>Predmet:</p>
    <select name="s1" class="form-control mb-3" [(ngModel)]="schedule.subject.id">
      <option [value]="null">Odaberite predmet</option>
      <option *ngFor="let s of subjects" [value]="s.id">{{s.name}}</option>
    </select>
    <p>dan:</p>
    <select name="s1" class="form-control mb-3" [(ngModel)]="schedule.daytitle.id">
      <option [value]="null">Odaberite dan</option>
      <option *ngFor="let d of daytitles" [value]="d.id">{{d.name}}</option>
    </select>
    <br>
    <div class="d-flex justify-content-end mr-4">
      <button type="submit" class="btn btn-primary">Dodaj satnicu</button>
    </div>
  <hr>
</form>
