    <div class="d-flex">
        <div>
          <app-profil-navigation></app-profil-navigation>
        </div>
        <div class="w-100 p-4">
            <h4>Studenti</h4>
            <br>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>Ime</b></td>
                        <td><b>Prezime</b></td>
                        <td><b>Email</b></td>
                        <td><b>Pregled</b></td>
                    </tr>
                </thead>
                <tr *ngFor="let s of students">
                    <td><a [routerLink]="['/students', s.id]">{{s.id}}</a></td>
                      <td>{{s.name}}</td>
                      <td>{{s.lastname}}</td>
                      <td>{{s.email}}</td>
                      <td><a [routerLink]="['/students', s.id]">Pogledaj</a></td>
                </tr>
            </table>
            <br>
        </div>
      </div>