<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <div class="d-flex justify-content-center align-items-center flex-wrap bg">
      <div class="w-75 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
        <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Upis studenta</h2>
        <br>
        <form (ngSubmit)="submit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="validationDefault01">Ime</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="Ime" name="name"
                [(ngModel)]="student.name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="validationDefault02">Prezime</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Prezime" name="lastname"
                [(ngModel)]="student.lastname" required>
            </div>
          </div>
          <div class="form-group">
            <label for="validationDefault03">JMBG</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="JMBG" name="jmbg"
              [(ngModel)]="student.jmbg" required>
          </div>
          <div class="form-group">
            <label for="validationDefault04">Broj indeksa</label>
            <input type="number" class="form-control" id="validationDefault04" placeholder="Broj indeksa"
              name="brIndeksa" [(ngModel)]="studentYear.indexnumber" required>
          </div>
          <div class="form-group">
            <label for="validationDefault05">Datum rođenja</label>
            <input type="date" class="form-control" id="validationDefault05" placeholder="Datum rodjenja"
              name="dateOfBirth" [(ngModel)]="student.birthdate" required>
          </div>
          <div class="form-group">
            <label for="validationDefault9">Email</label>
            <input type="email" class="form-control" id="validationDefault09" placeholder="Email" name="email"
              [(ngModel)]="student.email" required>
          </div>
          <div class="form-group">
            <label for="validationDefault10">Password</label>
            <input type="text" class="form-control" id="validationDefault10" placeholder="Password" name="password"
              [(ngModel)]="student.password" required>
          </div>
          <select name="s1" class="form-control mb-3" [(ngModel)]="selectedFaculty" (ngModelChange)="onFacultyChange()">
            <option [value]="null">Odaberite fakultet</option>
            <option *ngFor="let u of university.faculties" [value]="u.id">{{u.name}}</option>
          </select>
          <select name="s2" class="form-control mb-3" [(ngModel)]="selectedMajor" (ngModelChange)="onMajorChange()">
            <option [value]="null">Odaberite smer</option>
            <option *ngFor="let f of faculty.majors" [value]="f.id">{{f.name}}</option>
          </select>
          <select name="s3" class="form-control" [(ngModel)]="studentYear.studyyear">
            <option [value]="null">Odaberite godinu</option>
            <option *ngFor="let year of major.studyyears" [value]="year.id">{{year.year}}</option>
          </select>
          <br>
          <div class="d-flex justify-content-end mr-4">
            <button type="submit" class="btn btn-primary">Upiši studenta</button>
          </div>
          <hr>
        </form>
      </div>
    </div>
  </div>
</div>