<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <h4>Registrovani korisnici</h4>
      <button class="btn btn-primary" [routerLink]="['/teachers']">Nastavnici</button><br><br>
      <button class="btn btn-primary" [routerLink]="['/administrativestaffs']">Administrativno osoblje</button>
      <br>
    </div>
  </div>
    