<div class="d-flex justify-content-center align-items-center flex-wrap bg">
  <div class="card w-auto">
    <div class="card-body">
      <h5 class="card-title">Learning Management System</h5>
      <p class="card-text"><b>Telefon:</b> {{university.phone}}</p>
      <p class="card-text"><b>Email:</b> {{university.email}}</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5617.434384011688!2d19.8428336!3d45.2535113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1069795c3951%3A0xe6fd8421ace0cf06!2z0KPQvdC40LLQtdGA0LfQuNGC0LXRgiDQodC40L3Qs9C40LTRg9C90YPQvA!5e0!3m2!1ssr!2srs!4v1587581480186!5m2!1ssr!2srs"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    </div>
  </div>
</div>