<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <h4 class="card-header">Administrativno osoblje: {{administrativeStaff.name}}</h4>
        <ul class="list-group">
            <li class="list-group-item">Id: {{administrativeStaff.id}}</li>
            <li class="list-group-item">Ime: {{administrativeStaff.name}}</li>
            <li class="list-group-item">Prezime: {{administrativeStaff.lastname}}</li>
            <li class="list-group-item">Jmbg: {{administrativeStaff.jmbg}}</li>
        </ul>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button  class="btn btn-secondary" [routerLink]="['/administrativestaffs']">Nazad</button>
          <button  class="btn btn-secondary" [routerLink]="['/administrativestaffs', 'update', administrativeStaff.id]">Izmeni</button>
          <button class="btn btn-danger" (click)="delete()">Obrisi</button>
        </div>
    </div>
  </div>
