<div class="d-flex">
  <div>
    <app-profil-navigation></app-profil-navigation>
  </div>
  <div class="w-100 p-4">
    <h4 class="card-header">Student: {{student.name}}</h4>
      <ul class="list-group">
          <li class="list-group-item ">Ime: {{student.name}}</li>
          <li class="list-group-item ">Prezime: {{student.lastname}}</li>
          <li class="list-group-item ">Jmbg: {{student.jmbg}}</li>
          <li class="list-group-item ">Datum rodjenja: {{student.birthdate}}</li>
          <li class="list-group-item ">Trenutno prebivaliste: {{student.address.street}} {{student.address.number}}</li>
      </ul>
  </div>
</div>

