  <div class="d-flex w-100">
        <ul class="list-group ml-3 mt-3">
          <ul *ngIf="role=='ROLE_STUDENT'"  class="list-group ml-3 mt-3">
            <li class="list-group-item active">
              Prečice
              </li>
              <li *ngIf="role=='ROLE_STUDENT'" class="list-group-item">
                <a class="nav-link active"[routerLink]="['/prijemni-ispit-prijava']">Prijava za prijemni ispit</a> 
              </li>
            <li *ngIf="role=='ROLE_STUDENT'" class="list-group-item">
              <a class="nav-link active"[routerLink]="['/prijemni-ispit']">Prijemni ispit</a> 
            </li> 
            <li class="list-group-item">
              <a class="nav-link active"[routerLink]="['/profil']">Obaveštenja</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" [routerLink]="['/ispiti-prijava']">Prijava ispita</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" [routerLink]="['/ispiti']">Istorija studiranja</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/predmeti']">Predmeti</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/zavrsni-rad']">Završni rad</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/administracija']">Administracija</a>
            </li>
          </ul>
          <ul *ngIf="role=='ROLE_TEACHER'"  class="list-group ml-3 mt-3">
            <li class="list-group-item active">
              Prečice
            </li>
            <li class="list-group-item">
              <a class="nav-link active"[routerLink]="['/profil']">Moja obaveštenja</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link" [routerLink]="['/predmeti-nastavnik']">Moji predmeti</a>
            </li>
            <li class="list-group-item">
               <a class="nav-link"  [routerLink]="['/silabus-update']">Uređivanje silabusa</a> 
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/teme']">Raspored ishoda po terminima</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/spisak-studenata']">Spisak studenata</a>
            </li>
          </ul>
          <ul *ngIf="role=='ROLE_ADMIN'" class="list-group ml-3 mt-3">
            <li class="list-group-item active">
              Prečice
            </li>
            <!-- <li class="list-group-item">
              <a class="nav-link active"[routerLink]="['/administracija-sifarnika']">Administracija šifarnika</a>
            </li> -->
            <li class="list-group-item">
              <a class="nav-link" [routerLink]="['/administracija-registrovanih-korisnika']">Administracija registrovanih korisnika</a>
            </li>
            <!-- <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/administracija-kurseva']">Administracija studijskih programa</a>
            </li> -->
            <!-- <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/administracija-organizacije']">Administracija organizacije</a>
            </li> -->
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/nastavnici-dodavanje']">Dodavanje nastavnika</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/administrativno-osoblje-dodavanje']">Dodavanje administrativnog osoblja</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/administracija-predmeta']">Administracija predmeta</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/administracija-satnica']">Administracija satnica</a>
            </li>
          </ul>
          <ul *ngIf="role=='ROLE_STAFF'" class="list-group ml-3 mt-3">
            <li class="list-group-item active">
              Prečice
            </li>
            <!-- <li class="list-group-item">
              <a class="nav-link active"[routerLink]="['/korisnici-dodavanje']">Upis postojeceg studenta</a>
            </li> -->
            <li class="list-group-item">
              <a class="nav-link active"[routerLink]="['/upis-studenta']">Upis studenata</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/students']">Pregled studenata</a> 
            </li>
            <li class="list-group-item">
            <a class="nav-link" [routerLink]="['/raspored-nastave']">Raspored nastave</a>   
            </li>
            <li class="list-group-item">
              <a class="nav-link" [routerLink]="['/raspored-ispita']">Raspored ispita</a>    
              </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/obavestenjau-dodavanje']">Dodavanje obaveštenja na glavnoj stranici fakulteta</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/obavestenjau/:id/update']">Ažuriranje obaveštenja na glavnoj stranici fakulteta</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/obavestenja-dodavanje']">Dodavanje obaveštenja za registrovane korisnike</a>
            </li>
            <li class="list-group-item">
              <a class="nav-link"  [routerLink]="['/obavestenja/:id/update']">Ažuriranje obaveštenja za registrovane korisnike</a>
            </li>
          </ul>
        </ul> 
</div>
