<div class="d-flex w-100 p-4">
    <div class="w-50 p-4">
      <h4 class="card-header">{{universityNotification.title}}</h4>
      <ul class="list-group">
          <li class="text-dark list-group-item">Datum: {{universityNotification.created}}</li>
          <li class="text-dark list-group-item">Obaveštenje: {{universityNotification.message}}</li>
      </ul>
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button  class="btn btn-secondary" [routerLink]="['/universities']">Nazad</button>
      </div>
      </div>
  </div>