<div class="d-flex w-100">
    <ul class="list-group ml-3 mt-3">
        <li class="list-group-item active">
        Prečice
        </li>
        <li class="list-group-item">
            <a class="nav-link active" [routerLink]="['/predmeti/:id']">Odabrani predmet</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link active" [routerLink]="['/predmeti/:id/silabus']">Silabus</a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" [routerLink]="['/predmeti/:id/info']">Podaci o predmetu</a>
        </li>
        <!-- <li class="list-group-item">
            <a class="nav-link" [routerLink]="['/obavestenja']">Obaveštenja</a> ?
        </li> -->
        <li class="list-group-item">
            <a class="nav-link" [routerLink]="['/ispiti-rezultati']">Rezultati ispita i kolokvijuma</a>
        </li>
      </ul> 
</div>

