<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="/universities">LMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/universities']">Početna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/faculties']">Fakulteti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/courses']">Stranice predmeta</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Studenti
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a [routerLink]="['/prijava']" class="dropdown-item">E-Student</a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/registracija']" class="dropdown-item">Registracija</a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/akademski-kalendar']" class="dropdown-item">Akademski kalendar</a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/raspored-nastave']" class="dropdown-item">Raspored predavanja</a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/raspored-kolokvijuma']" class="dropdown-item">Raspored kolokvijuma</a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/raspored-ispita']" class="dropdown-item">Raspored ispitnih rokova</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/rektor-podaci']">Podaci o rektoru</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/kontakt']">Kontakt</a>
            </li>
        </ul>
        <div class="nav-item dropdown" *ngIf="email != ''">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{email}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a [routerLink]="['/profil']" class="dropdown-item">Moj profil</a>
                <div class="dropdown-divider"></div>
                <a [routerLink]="['/prijava']" (click)="logout()" class="dropdown-item">Odjavi se</a>
            </div>
        </div>
    </div>
</nav>
