<div class="d-flex w-100 p-4">
    <div class="w-50 p-4">
      <h4 class="card-header">{{university.name}}</h4>
      <ul class="list-group">
          <li class="text-dark list-group-item">Ime: {{university.name}}</li>
          <li class="text-dark list-group-item">Datum osnivanja: {{university.dateofestablishment}}</li>
          <li class="text-dark list-group-item">Podaci o rektoru<br>
            Email: {{university.rector.email}}<br>
            Ime: {{university.rector.name}}<br>
            Prezime: {{university.rector.lastname}}<br>
          </li>
          <li class="text-dark list-group-item">Telefon: {{university.phone}}</li>
          <li class="text-dark list-group-item">E-mail: {{university.email}}</li>
          <li class="text-dark list-group-item">Lokacija: {{university.address.street}} {{university.address.number}}</li>
      </ul>
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button  class="btn btn-secondary" [routerLink]="['/universities']">Nazad</button>
      </div>
      </div>
  </div>