<!-- Footer -->
<footer class="page-footer font-small teal pt-4 fixed-bottom">

    <!-- Copyright -->
    <div class="d-flex justify-content-center p-2 w-100 bg-dark align-items-center text-white">
        Copyright &copy; 2020 <a class="ml-1" [routerLink]="['/universities']">LMS</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->