    <div class="d-flex w-100 justify-content-left  p-3">
        <app-subject-navigation></app-subject-navigation>
        <div class="flex-wrap w-100">
            <div class="w-50 ml-4">
                <div class="card">
                    <h5 class="card-header">
                      Predavanja
                    </h5>
                    <ul class="list-group list-group-flush">
                     <a href="#" class="text-center">Gradivo za prvi kolokvijum</a>
                     <div class="dropdown-divider"></div>
                     <a href="#" class="text-center">Gradivo za drugi kolokvijum</a>
                     <div class="dropdown-divider"></div>
                     <a href="#" class="text-center">Gradivo za završni ispit</a>
                    </ul>
                  </div> 
            </div>
            <br>
            <div class="w-50 ml-4">
                <div class="card">
                    <h5 class="card-header">
                        Vežbe
                      </h5>
                    <ul class="list-group list-group-flush">
                        <a href="#" class="text-center">Gradivo za prvi kolokvijum</a>
                     <div class="dropdown-divider"></div>
                     <a href="#" class="text-center">Gradivo za drugi kolokvijum</a>
                     <div class="dropdown-divider"></div>
                     <a href="#" class="text-center">Gradivo za završni ispit</a>
                    </ul>
                  </div> 
            </div>
        </div>
    </div>

