<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
      <h3 class="card-header w-25 p-4">Prijemni ispit - Obaveštenja</h3>
      <div class="alert alert-success w-25 p-4" role="alert">
        Uspešno ste se prijavili za prijemni ispit.
      </div>
    </div>
  </div>