<div class="d-flex w-100 justify-content-left p-3">
  <ul class="list-group">
    <li class="list-group-item active">
      Prečice
    </li>
    <li class="list-group-item text-center" *ngFor="let item of major.studyyears" (click)="getStudyYear(item.id)">
      {{item.year}}
    </li>
  </ul>

  <table class="table ml-2 border">
    <thead>
      <tr>
        <th scope="col">Predmet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studyyear.subjects">
        <td>{{item.name}}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex w-100 p-4">
    <div class="w-50 p-4">
      <h5 class="card-header">Opis studijskog smera</h5>
      <ul class="list-group">
        <li class="list-group-item">Ime: {{major.name}}</li>
        <li class="list-group-item">email: {{major.faculty.email}}</li>

      </ul>
      <br>
      <div *ngIf="role=='ROLE_ADMIN'"  class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-secondary" [routerLink]="['/courses']">Nazad</button>
        <button class="btn btn-secondary" [routerLink]="['/courses', 'update', major.id]">Izmeni</button>
        <button class="btn btn-danger" (click)="delete()">Obrisi</button>
      </div>
    </div>
  </div>
</div>