<div class="d-flex w-100 justify-content-left p-3">
    <app-subject-navigation></app-subject-navigation>
<div  class="w-100 ml-4">
    <div class="w-100">
        <table id="t1" class="table table-bordered">
          <thead class="thead-light">
            <tr>
                <th colspan="2">Bodovanje</th>
            </tr>
              <tr>
                  <th>Aktivnost</th>
                  <th>Poeni</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prisustvo na predavanjima i vežbama</td>
              <td>10</td>          
            </tr>
            <tr>
              <td>Prvi kolokvijum</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Drugi kolokvijum</td>
              <td>30</td>
            </tr>
            <tr>
                <td>Završni ispit</td>
                <td>30</td>
              </tr>
              <tr>
                <td>UKUPNO</td>
                <td>100</td>
              </tr>
          </tbody>
        </table>
</div>
    <br>
    <div class="w-100">
        <table id="t1" class="table table-bordered">
          <thead class="thead-light">
            <tr>
                <th colspan="2">Formiranje konačne ocene</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>broj poena 50 ili manje</td>
              <td>ocena 5</td>
            </tr>
            <tr>
              <td>51-60 poena</td>
              <td>ocena 6</td>
            </tr>
            <tr>
              <td>61-70 poena</td>
              <td>ocena 7</td>
            </tr>
            <tr>
                <td>71-80 poena</td>
                <td>ocena 8</td>
              </tr>
              <tr>
                <td>81-90 poena</td>
                <td>ocena 9</td>
              </tr>
              <tr>
                <td>91-100 poena</td>
                <td>ocena 10</td>
              </tr>
          </tbody>
        </table>
</div>
</div>
<div class="w-100 ml-4">
    <div class="w-100 p-2">
        <table id="t1" class="table table-bordered w-50">
          <thead class="thead-light">
              <tr>
                  <th>Profesor</th>
                  <th>Asistent</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prof. dr : Ime i prezime</td>
              <td>Ime i prezime, master</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>Email:</td>
            </tr>
            <tr>
              <td>Konsultacije: </td>
              <td>Konsultacije: </td>
            </tr>
            <tr>
                <td>Kabinet profesora: </td>
                <td>Kabinet asistenta: </td>
              </tr>
          </tbody>
        </table>
</div>
    <div class="w-100 p-2">
        <table id="t1" class="table table-bordered w-50">
          <thead class="thead-light">
              <tr>
                  <th>Predavanja</th>
                  <th>Vezbe</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dan:</td>
              <td>Dan: </td> 
            </tr>
            <tr>
              <td>Vreme: </td>
              <td>Vreme: </td>
            </tr>
            <tr>
              <td>Ucionica: </td>
              <td>Ucionica: </td>
            </tr>
          </tbody>
        </table>
</div>
<div class="w-100 p-2">
    <table id="t1" class="table table-bordered w-50">
      <thead class="thead-light">
          <tr>
              <th>Literatura</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Slajdovi sa predavanja</td>
        </tr>
        <tr>
          <td>PDF materijali sa vežbi</td>
        </tr>
        <tr>
          <td>Video snimci sa vežbi</td>
        </tr>
        <tr>
            <td>Internet</td>
          </tr>
      </tbody>
    </table>
</div>
</div>
</div>