<div class="d-flex">
    <div>
      <app-profil-navigation></app-profil-navigation>
    </div>
    <div class="w-100 p-4">
            <div class="d-flex justify-content-center align-items-center flex-wrap bg">
                <div class="w-50 p-2 bg-white-50 rounded border shadow mt-3 mr-5">
                  <h2 class="text-center"><span class="text-primary font-weight-bold">LMS</span> - Uređivanje silabusa</h2>
                  <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Predmet</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Naslov" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Silabus</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Type..." required></textarea>
                    </div>
                    <div class="d-flex justify-content-end mr-4">
                      <button type="submit" class="btn btn-primary">Izmeni silabus</button>
                    </div>
                    <hr>
                  </form>
                </div>
    </div>
  </div>