<div class="d-flex">
  <div>
    <app-subject-navigation></app-subject-navigation>
  </div>
  <div class="w-100 p-4">
    <div class="d-flex justify-content-center mt-4">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Silabus</h5>
                <p class="card-text">Silabus predmeta će naknadno biti objavljen.
                </p>
                <button class="btn btn-primary">Izmeni stranicu</button> <!-- ngIf -> teachers -->
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

    