<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Obaveštenja</h5>
    <table *ngFor="let un of user.notifications" style=" border: 1px solid black;">
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <tr>
        <td>{{un.created}}</td>
        <td>{{un.title}}</td>
        <td>{{un.message}}</td>
      </tr>
    </table>
  </div>
  
</div>